<!DOCTTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Courses</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>    
    <body>
        <div class="container bg-light">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand text-white">Courses</a>
            </nav>
            <div class="jumbotron jumbotron-fluid bg-light">
                <div class="container">
                    <h2 class="text-center">Add a new course</h2>
                    <hr class="my-4">
                    {% if messages %}
                        <h4 class="text-center text-danger">Error(s)!</h4>
                        {% for message in messages %}
                            <p class="text-danger mt-2 mb-2">{{ message }}</p>
                        {% endfor %}
                        <hr class="my-4">
                    {% endif %}
                    <form action="/courses/create/" method="post">
                        {% csrf_token %}
                        <div class="form-group w-25 mb-3">
                            <label for="Name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group w-50">
                            <label for="desc">Description:</label>
                            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success mb-2">Add</button>
                    </form>
                    <hr class="my-4">
                    <h2 class="text-center">Courses</h2>
                    <hr class="my-4">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Course Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date Added</th>
                                <th scope="col">Actions</th> 
                            </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{ course.name }}</td>
                                <td>{{ course.description.first.desc }}</td>
                                <td>{{ course.created_at }}</td>
                                <td>
                                    <p>
                                        <a href="/courses/destroy/{{ course.id }}">Delete</a>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>